* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

ul {
  padding: 0px 15px;
  float: left;
  margin-top: 0px;
  width: 100%;
}

li {
  list-style: none;
  padding: 15px;
  background: #ebebeb;
  margin: 15px 0px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  margin: 5px;
  background: #222;
  color: #fff;
  font-family: sans-serif;
  border: 0;
  outline: none;
}

button:hover {
  opacity: 0.8;
}

.list-item {
  cursor: pointer;
  position: relative;
  float: left;
  width: 100%;
  transition: background 0.3s;
}

.list-item.selected {
  background: #238fad;
  border-bottom: 5px solid #05576d;
  color: #fff;
}

.text {
  float: left;
  line-height: 45px;
  position: relative;
  z-index: 2;
}

.buttons {
  float: right;
  position: relative;
  z-index: 2;
}

.left-nav > button {
  background: #6d7cd4;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.left-nav {
  padding-left: 10px;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
}

.empty-list {
  padding: 40px 15px;
}

.select-area {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.btn-danger {
  background: #ea5353;
}

.btn-success {
  background: #93d859;
}

.total-items {
  text-align: right;
  float: right;
  line-height: 45px;
  padding-right: 10px;
}

.item-input > input {
  padding: 10px;
  font-size: 13px;
  color: #615f5f;
}
